.social {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;

  .sidebar & {
    @include breakpoint($tablet) {
      display: none;
    }
  }
}

.social__item {
  margin-bottom: 1.5rem;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  color: $white;

  p {
    margin-left: 0.5rem;
  }
}