<aside class="sidebar">
  <div class="sidebar__header">
    <img src="assets/images/16.jpg" alt="">
  </div>
  <div class="sidebar__content">
    <div class="profile">
      <img class="profile__avatar" src="../assets/images/aesk-logo.svg" alt="aesk-logo">
      <div class="profile__header">
        <div class="profile__name">Anadolu Efes</div>
      </div>

      <div class="social__item" title="anadoluefessk">
        <a class="social__link" href="https://www.instagram.com/anadoluefessk" target="_blank">
          <img src="assets/images/socials/instagram.svg" alt="aesk instagram">

        <p>Instagram</p>
      </a>
      </div>

      <div class="profile__text">
        <p>
          Анадолу Эфес - баскетбольный клуб
        </p>
      </div>
    </div><!-- profile -->
  </div><!-- sidebar__content -->

  <nav class="nav  nav--mobile">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link" href="index.html">Главная</a>
      </li>

      <li class="nav__item">
        <a class="nav__link  has-subnav" href="#">Статьи</a>

        <ul class="subnav">
          <li class="subnav__item">
            <a class="subnav__link" href="#">Создание сайтов</a>
          </li>

          <li class="subnav__item">
            <a class="subnav__link" href="#">Интернет-маркетинг</a>
          </li>

          <li class="subnav__item">
            <a class="subnav__link" href="#">Продвижение видео</a>
          </li>
        </ul><!-- /.subnav -->
      </li>

      <li class="nav__item">
        <a class="nav__link" href="cabinet.html">Профиль</a>
      </li>
    </ul><!-- /.nav__list -->
  </nav><!-- /.nav -->

  <div class="sidebar__footer">
    <button class="btn  btn--gray5" type="button" data-modal="stat-modal">Статистика</button>
    <button class="btn  btn--gray5" type="button" data-modal="team-modal">Состав</button>
    <button class="btn  btn--gray5" type="button" data-modal="calendar-modal">Календарь</button>
  </div><!-- sidebar__footer -->
</aside>