<div class="modal" id="statModal">
  <!-- Modal__content -->
  <div class="modal__content">
    <button class="modal__close">
      <img src="assets/images/close.svg" alt="закрыть">
    </button>

<table class="stat-table sortable-table js-active" cellpadding="0" cellspacing="0" data-control="Common.TableSort">
  <colgroup>
  <col width="25">
  <col width="170">
  <col width="25">
  <col width="25">
  <col width="35">
  <col width="30">
  <col width="30">
  <col width="30">
  <col width="35">
  <col width="35">
  <col width="35">
  <col width="35">
  <col width="35">
  <col width="35">
  <col width="40">
  </colgroup>
  <thead class="team__names">
  <tr style="height: 2rem;">
  <td data-sortable="true" data-sorttype="number" data-sortorder="asc">№</td>
  <td data-sortable="true" data-sorttype="string" data-sortorder="asc" class="name-td bordR">Игрок</td>
  <td data-sortable="true" data-sorttype="number" data-sortorder="asc" title="матчей сыграно">М</td>
  <td data-sortable="true" data-sorttype="number" data-sortorder="asc" title="выходил в стартовом составе">Ст</td>
  <td data-sortable="true" data-sorttype="number" data-sortorder="asc" class="sort-act" title="набранные очки">О</td>
  <td data-sortable="true" data-sorttype="number" data-sortorder="asc" title="процент забитых 2-очковых">2%</td>
  <td data-sortable="true" data-sorttype="number" data-sortorder="asc" title="процент забитых 3-очковых">3%</td>
  <td data-sortable="true" data-sorttype="number" data-sortorder="asc" title="процент забитых штрафных">Ш%</td>
  <td data-sortable="true" data-sorttype="number" data-sortorder="asc" title="подборы">Пб</td>
  <td data-sortable="true" data-sorttype="number" data-sortorder="asc" title="передачи">Ап</td>
  <td data-sortable="true" data-sorttype="number" data-sortorder="asc" title="фолы">Ф</td>
  <td data-sortable="true" data-sorttype="number" data-sortorder="asc" title="перехваты">Пх</td>
  <td data-sortable="true" data-sorttype="number" data-sortorder="asc" title="потери">П</td>
  <td data-sortable="true" data-sorttype="number" data-sortorder="asc" title="блокшоты">Бш</td>
  <td data-sortable="true" data-sorttype="number" data-sortorder="asc" title="время">Мин</td>
  </tr>
  </thead><tbody>
  <tr style="height: 2rem;">
  <td>
  22
  </td>
  <td class="name-td bordR"><i class="icon-flag icon-flag_1404 flag-s flag-1404" title="Сербия"></i>&nbsp;<a target="_blank" class="name-td" href="https://www.sports.ru/tags/158901336/">Василие Мицич</a></td>
  <td>
  15
  </td>
  <td>
  14
  </td>
  <td>
  19.4
  </td>
  <td>
  54
  </td>
  <td>
  43
  </td>
  <td>
  88
  </td>
  <td>
  2.9
  </td>
  <td>
  6.1
  </td>
  <td>
  2.4
  </td>
  <td>
  0.6
  </td>
  <td>
  2.4
  </td>
  <td>
  0.1
  </td>
  <td>
  28:03
  </td>
  </tr>
  <tr style="height: 2rem;">
  <td>
  1
  </td>
  <td class="name-td bordR"><i class="icon-flag icon-flag_1311 flag-s flag-1311" title="Франция"></i>&nbsp;<a target="_blank" class="name-td" href="https://www.sports.ru/tags/15463093/">Родриг Бобуа</a></td>
  <td>
  18
  </td>
  <td>
  9
  </td>
  <td>
  15.0
  </td>
  <td>
  66
  </td>
  <td>
  48
  </td>
  <td>
  82
  </td>
  <td>
  1.8
  </td>
  <td>
  2.3
  </td>
  <td>
  1.7
  </td>
  <td>
  0.8
  </td>
  <td>
  0.8
  </td>
  <td>
  0.7
  </td>
  <td>
  23:59
  </td>
  </tr>
  <tr style="height: 2rem;">
  <td>
  33
  </td>
  <td class="name-td bordR"><i class="icon-flag icon-flag_1404 flag-s flag-1404" title="Сербия"></i>&nbsp;<a target="_blank" class="name-td" href="https://www.sports.ru/tags/161113061/">Филип Петрушев</a></td>
  <td>
  9
  </td>
  <td>
  8
  </td>
  <td>
  14.3
  </td>
  <td>
  78
  </td>
  <td>
  20
  </td>
  <td>
  85
  </td>
  <td>
  6.0
  </td>
  <td>
  1.1
  </td>
  <td>
  3.0
  </td>
  <td>
  0.2
  </td>
  <td>
  1.0
  </td>
  <td>
  1.1
  </td>
  <td>
  21:50
  </td>
  </tr>
  <tr style="height: 2rem;">
  <td>
  21
  </td>
  <td class="name-td bordR"><i class="icon-flag icon-flag_1287 flag-s flag-1287" title="Германия"></i>&nbsp;<a target="_blank" class="name-td" href="https://www.sports.ru/tags/29686318/">Тибор Пляйсс</a></td>
  <td>
  12
  </td>
  <td>
  10
  </td>
  <td>
  13.1
  </td>
  <td>
  57
  </td>
  <td>
  46
  </td>
  <td>
  88
  </td>
  <td>
  6.6
  </td>
  <td>
  1.6
  </td>
  <td>
  2.0
  </td>
  <td>
  0.6
  </td>
  <td>
  0.8
  </td>
  <td>
  0.8
  </td>
  <td>
  26:02
  </td>
  </tr>
  <tr style="height: 2rem;">
  <td>
  6
  </td>
  <td class="name-td bordR"><i class="icon-flag icon-flag_1301 flag-s flag-1301" title="США"></i>&nbsp;<a target="_blank" class="name-td" href="https://www.sports.ru/tags/161099352/">Элайджа Брайант</a></td>
  <td>
  12
  </td>
  <td>
  10
  </td>
  <td>
  11.3
  </td>
  <td>
  71
  </td>
  <td>
  39
  </td>
  <td>
  85
  </td>
  <td>
  4.6
  </td>
  <td>
  2.7
  </td>
  <td>
  2.3
  </td>
  <td>
  1.1
  </td>
  <td>
  1.7
  </td>
  <td>
  0.2
  </td>
  <td>
  25:31
  </td>
  </tr>
  <tr style="height: 2rem;">
  <td>
  0
  </td>
  <td class="name-td bordR"><i class="icon-flag icon-flag_1301 flag-s flag-1301" title="США"></i>&nbsp;<i class="icon-flag icon-flag_1300 flag-s flag-1300" title="Турция"></i>&nbsp;<a target="_blank" class="name-td" href="https://www.sports.ru/tags/151060495/">Шейн Ларкин</a></td>
  <td>
  14
  </td>
  <td>
  10
  </td>
  <td>
  10.9
  </td>
  <td>
  41
  </td>
  <td>
  38
  </td>
  <td>
  89
  </td>
  <td>
  2.4
  </td>
  <td>
  4.9
  </td>
  <td>
  1.5
  </td>
  <td>
  0.8
  </td>
  <td>
  2.4
  </td>
  <td>
  0.0
  </td>
  <td>
  24:41
  </td>
  </tr>
  <tr style="height: 2rem;">
  <td>
  23
  </td>
  <td class="name-td bordR"><i class="icon-flag icon-flag_1301 flag-s flag-1301" title="США"></i>&nbsp;<a target="_blank" class="name-td" href="https://www.sports.ru/tags/71380453/">Джеймс Андерсон</a></td>
  <td>
  2
  </td>
  <td>
  <span class="null">0</span>
  </td>
  <td>
  10.5
  </td>
  <td>
  57
  </td>
  <td>
  57
  </td>
  <td>
  100
  </td>
  <td>
  3.0
  </td>
  <td>
  0.5
  </td>
  <td>
  0.5
  </td>
  <td>
  0.5
  </td>
  <td>
  0.0
  </td>
  <td>
  0.0
  </td>
  <td>
  15:51
  </td>
  </tr>
  <tr style="height: 2rem;">
  <td>
  18
  </td>
  <td class="name-td bordR"><i class="icon-flag icon-flag_1311 flag-s flag-1311" title="Франция"></i>&nbsp;<a target="_blank" class="name-td" href="https://www.sports.ru/tags/128435152/">Адриен Морман</a></td>
  <td>
  14
  </td>
  <td>
  13
  </td>
  <td>
  10.3
  </td>
  <td>
  54
  </td>
  <td>
  39
  </td>
  <td>
  79
  </td>
  <td>
  7.4
  </td>
  <td>
  1.4
  </td>
  <td>
  1.9
  </td>
  <td>
  0.1
  </td>
  <td>
  1.2
  </td>
  <td>
  0.4
  </td>
  <td>
  29:02
  </td>
  </tr>
  <tr style="height: 2rem;">
  <td>
  44
  </td>
  <td class="name-td bordR"><i class="icon-flag icon-flag_1407 flag-s flag-1407" title="Хорватия"></i>&nbsp;<a target="_blank" class="name-td" href="https://www.sports.ru/tags/117681720/">Крунослав Симон</a></td>
  <td>
  9
  </td>
  <td>
  6
  </td>
  <td>
  9.4
  </td>
  <td>
  55
  </td>
  <td>
  38
  </td>
  <td>
  91
  </td>
  <td>
  4.8
  </td>
  <td>
  3.1
  </td>
  <td>
  2.0
  </td>
  <td>
  0.6
  </td>
  <td>
  0.9
  </td>
  <td>
  0.1
  </td>
  <td>
  22:21
  </td>
  </tr>
  <tr style="height: 2rem;">
  <td>
  19
  </td>
  <td class="name-td bordR"><i class="icon-flag icon-flag_1300 flag-s flag-1300" title="Турция"></i>&nbsp;<a target="_blank" class="name-td" href="https://www.sports.ru/tags/161085622/">Буграхан Тунджер</a></td>
  <td>
  22
  </td>
  <td>
  9
  </td>
  <td>
  7.9
  </td>
  <td>
  56
  </td>
  <td>
  34
  </td>
  <td>
  81
  </td>
  <td>
  1.9
  </td>
  <td>
  4.0
  </td>
  <td>
  1.1
  </td>
  <td>
  0.4
  </td>
  <td>
  0.9
  </td>
  <td>
  0.1
  </td>
  <td>
  19:27
  </td>
  </tr>
  <tr style="height: 2rem;">
  <td>
  42
  </td>
  <td class="name-td bordR"><i class="icon-flag icon-flag_1301 flag-s flag-1301" title="США"></i>&nbsp;<i class="icon-flag icon-flag_1341 flag-s flag-1341" title="Армения"></i>&nbsp;<a target="_blank" class="name-td" href="https://www.sports.ru/tags/153716619/">Брайант Данстон</a></td>
  <td>
  12
  </td>
  <td>
  5
  </td>
  <td>
  7.4
  </td>
  <td>
  48
  </td>
  <td>
  25
  </td>
  <td>
  74
  </td>
  <td>
  4.8
  </td>
  <td>
  1.3
  </td>
  <td>
  2.3
  </td>
  <td>
  0.8
  </td>
  <td>
  1.0
  </td>
  <td>
  0.8
  </td>
  <td>
  22:53
  </td>
  </tr>
  <tr style="height: 2rem;">
  <td>
  2
  </td>
  <td class="name-td bordR"><i class="icon-flag icon-flag_1301 flag-s flag-1301" title="США"></i>&nbsp;<a target="_blank" class="name-td" href="https://www.sports.ru/tags/132977785/">Крис Синглтон</a></td>
  <td>
  8
  </td>
  <td>
  8
  </td>
  <td>
  7.4
  </td>
  <td>
  46
  </td>
  <td>
  32
  </td>
  <td>
  83
  </td>
  <td>
  4.8
  </td>
  <td>
  1.1
  </td>
  <td>
  1.8
  </td>
  <td>
  1.3
  </td>
  <td>
  1.1
  </td>
  <td>
  0.8
  </td>
  <td>
  29:01
  </td>
  </tr>
  <tr style="height: 2rem;">
  <td>
  11
  </td>
  <td class="name-td bordR"><i class="icon-flag icon-flag_1300 flag-s flag-1300" title="Турция"></i>&nbsp;<a target="_blank" class="name-td" href="https://www.sports.ru/tags/161111995/">Эртен Гази</a></td>
  <td>
  20
  </td>
  <td>
  4
  </td>
  <td>
  5.8
  </td>
  <td>
  47
  </td>
  <td>
  44
  </td>
  <td>
  73
  </td>
  <td>
  1.8
  </td>
  <td>
  0.6
  </td>
  <td>
  1.4
  </td>
  <td>
  0.5
  </td>
  <td>
  0.7
  </td>
  <td>
  0.1
  </td>
  <td>
  13:56
  </td>
  </tr>
  <tr style="height: 2rem;">
  <td>
  3
  </td>
  <td class="name-td bordR"><i class="icon-flag icon-flag_1300 flag-s flag-1300" title="Турция"></i>&nbsp;<a target="_blank" class="name-td" href="https://www.sports.ru/tags/161072247/">Йигитджан Сайбир</a></td>
  <td>
  23
  </td>
  <td>
  3
  </td>
  <td>
  5.5
  </td>
  <td>
  70
  </td>
  <td>
  37
  </td>
  <td>
  64
  </td>
  <td>
  3.0
  </td>
  <td>
  0.9
  </td>
  <td>
  1.1
  </td>
  <td>
  0.4
  </td>
  <td>
  0.4
  </td>
  <td>
  0.1
  </td>
  <td>
  14:16
  </td>
  </tr>
  <tr style="height: 2rem;">
  <td>
  –
  </td>
  <td class="name-td bordR"><i class="icon-flag icon-flag_1300 flag-s flag-1300" title="Турция"></i>&nbsp;<a target="_blank" class="name-td" href="https://www.sports.ru/tags/161033538/">Эгемен Гювен</a></td>
  <td>
  8
  </td>
  <td>
  <span class="null">0</span>
  </td>
  <td>
  4.6
  </td>
  <td>
  67
  </td>
  <td>
  <span class="null">0</span>
  </td>
  <td>
  63
  </td>
  <td>
  2.6
  </td>
  <td>
  0.4
  </td>
  <td>
  1.8
  </td>
  <td>
  0.1
  </td>
  <td>
  0.4
  </td>
  <td>
  0.4
  </td>
  <td>
  10:21
  </td>
  </tr>
  <tr style="height: 2rem;">
  <td>
  8
  </td>
  <td class="name-td bordR"><i class="icon-flag icon-flag_1300 flag-s flag-1300" title="Турция"></i>&nbsp;<a target="_blank" class="name-td" href="https://www.sports.ru/tags/161099393/">Толга Гечим</a></td>
  <td>
  14
  </td>
  <td>
  5
  </td>
  <td>
  3.8
  </td>
  <td>
  38
  </td>
  <td>
  40
  </td>
  <td>
  88
  </td>
  <td>
  1.9
  </td>
  <td>
  2.2
  </td>
  <td>
  0.7
  </td>
  <td>
  0.3
  </td>
  <td>
  0.9
  </td>
  <td>
  0.1
  </td>
  <td>
  14:05
  </td>
  </tr>
  <tr style="height: 2rem;">
  <td>
  10
  </td>
  <td class="name-td bordR"><i class="icon-flag icon-flag_1300 flag-s flag-1300" title="Турция"></i>&nbsp;<a target="_blank" class="name-td" href="https://www.sports.ru/tags/161099394/">Омерджан Ильясоглу</a></td>
  <td>
  12
  </td>
  <td>
  1
  </td>
  <td>
  2.6
  </td>
  <td>
  53
  </td>
  <td>
  21
  </td>
  <td>
  50
  </td>
  <td>
  1.8
  </td>
  <td>
  2.2
  </td>
  <td>
  0.5
  </td>
  <td>
  0.2
  </td>
  <td>
  0.3
  </td>
  <td>
  0.0
  </td>
  <td>
  07:24
  </td>
  </tr>
  <tr style="height: 2rem;">
  <td>
  4
  </td>
  <td class="name-td bordR"><i class="icon-flag icon-flag_1300 flag-s flag-1300" title="Турция"></i>&nbsp;<a target="_blank" class="name-td" href="https://www.sports.ru/tags/117846014/">Догуш Балбай</a></td>
  <td>
  9
  </td>
  <td>
  <span class="null">0</span>
  </td>
  <td>
  2.0
  </td>
  <td>
  75
  </td>
  <td>
  44
  </td>
  <td>
  <span class="null">0</span>
  </td>
  <td>
  2.1
  </td>
  <td>
  1.2
  </td>
  <td>
  1.0
  </td>
  <td>
  0.1
  </td>
  <td>
  0.2
  </td>
  <td>
  0.2
  </td>
  <td>
  09:32
  </td>
  </tr>
  </tbody>
  <tfoot>
  <tr style="height: 2rem;">
  <td class="name-td-td name-td" colspan="2">Всего</td>
  <td>
  <b>23</b>
  </td>
  <td></td>
  <td>
  <b>90.8</b>
  </td>
  <td>
  <b>59</b>
  </td>
  <td>
  <b>40</b>
  </td>
  <td>
  <b>82</b>
  </td>
  <td>
  <b>33.9</b>
  </td>
  <td>
  <b>22.8</b>
  </td>
  <td>
  <b>16.1</b>
  </td>
  <td>
  <b>5.1</b>
  </td>
  <td>
  <b>10</b>
  </td>
  <td>
  <b>2.9</b>
  </td>
  <td>
  <b>202:11</b>
  </td>
  </tr>
  </tfoot>
  </table>
</div>
</div>